<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <script type="text/javascript"> /* var bcf_settings = { buttonText:'Contact Us', buttonTop:'30%', language:'en_US' }; // Better Contact Form Settings */ (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.id = id; js.src = "http://bettercontactform.com/contact/media/a/1/a19586a40888f4d9c9c3df3b149cb9fc0338c57c.js"; fjs.parentNode.insertBefore(js, fjs); }(document, "script", "bcf-render"));</script> <a id="bcf_trigger" href="http://bettercontactform.com" rel="bcf_trigger"></a>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Twilio Polling App</title>
    <!-- 1. Add these JavaScript inclusions in the head of your page -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>

    <!-- 2. Add the JavaScript to initialize the chart on document ready -->
    <script type="text/javascript">
        var ser = [];
        var intervalId;

        {% if poll_data.Poll_Title %}
            var title = "{{ poll_data.Poll_Title }}";
        {% endif %}
        {% if poll_data.Option1 %}
            var option1 = "{{ poll_data.Option1 }}";
            ser.push(option1);
        {% endif %}
        {% if poll_data.Option2 %}
            var option2 = "{{ poll_data.Option2 }}";
            ser.push(option2);
        {% endif %}
        {% if poll_data.Option3 %}
            var option3 = "{{ poll_data.Option3 }}";
            ser.push(option3);
        {% endif %}
        {% if poll_data.Option4 %}
            var option4 = "{{ poll_data.Option4 }}";
            ser.push(option4);
        {% endif %}
        {% if poll_data.Option5 %}
            var option5 = "{{ poll_data.Option5 }}";
            ser.push(option5);
        {% endif %}


        //var ser =[a,b]
       var options;
       var request;
       $(function() {
        options = {
            title: {
                text: 'Poll Results: ' + "{{ poll_data.Poll_Title }}",
                style: {
                "padding-bottom": 30,
                fontWeight: 'bold'}
            },
            chart: {
                renderTo: 'container',
                type: 'column',
            },
             xAxis: {
                categories: ser,

            },
            yAxis: {
                allowDecimals: false,
                title: {
                    text: 'Poll Count',
                    useHTML: true,
                    style: {
                        "-webkit-transform": "rotate(90deg)",
                        "-moz-transform": "rotate(90deg)",
                        "-o-transform": "rotate(90deg)"
                    }
                }
            },
            //series: [{name: 'Poll Answers'}]
             series: [{
        name: 'Poll Answers'
    }]
        };

        intervalId = setInterval(function(){
        $.getJSON('/static/data.json', function(data) {
        options.series[0].data=data;
        var chart = new Highcharts.Chart(options);
        });
    }, 5000);
    });

    function killAjax() {
        clearInterval(intervalId);
        alert("Final Result: Polling Has Stopped");
    }
    </script>
    <style> 
      body {
     margin: 0;
     background: url('');
     background-size: 1440px 800px;
     background-repeat:no-repeat;
     display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;}
    </style>

</head>
<body>
    <div  class="navbar navbar-default navbar-float-top">
        <div class="container">
          <p class="navbar-text pull-left" style="font-size: 22px"><b>Twilio Polling App</b></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="row">
            <div class="col-md-6">
                <div id="container" style="width: 500px; height: 300px;
                padding-top: 0.5cm;padding-left: 2cm;"></div>
                <div style="margin-top: 0.5cm; margin-left: 4.5cm">
                    <a style="margin-left: 0.5cm" onclick="killAjax()" class="btn btn-primary" >Final Result</a> &nbsp;
                    <a href="/" class="btn btn-primary">New Poll</a>
                    <form action="/get_hostname/" method="GET"><br>{% csrf_token %}
                        <input style="margin-left: 2.20cm" name="fullname" type="submit" class="btn btn-primary" value="Stop Poll">
                    </form>
                </div>
                <div color="red" style="padding-left: 2cm;">
                        <font color=""><br><b>Important Note:</b> <br>
                        Please do not try to create more than one polls at a time. Since this app uses a<br>
                        Twilio trail account, it only has one phone number for recieving SMS messages.<br> 
                        If you create more than one poll at a time, you might see the app behave erroneously.</font> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="container" style="width: 400px; height: 200px;
                margin-right:30%;padding-top: 20px;">

                        <p style="font-size: 19px"><b>Poll Information:</b></p>
                        <p><b>Phone Number: +1-650-826-3017</b></p>
                        <p>
                            <b>Poll Question: {{ poll_data.Poll_Title }}</b><br><br>
                            <b>Poll Options:</b><br>
                            {{ poll_data.Option1 }}<br>
                            {{ poll_data.Option2 }}<br>
                            {{ poll_data.Option3 }}<br>
                            {{ poll_data.Option4 }}<br>
                            {{ poll_data.Option5 }}<br>
                        </p>
                        <p>
                            <b>Guidelines:</b> <br>
                            <ul>
                            <li> To vote, simply create a SMS with one of the options above and 
                                send it to +1-650-826-3017. </li>

                            <li>When you want to stop the poll click on "Stop Poll" button. This will stop receiving any more SMS. The page will be reloaded.</li>

                            <li>Once the page reloads, click on "Final Result" button to view the final poll count </li>
                            </ul>
                            
                        </p>
                </div>
            </div>
        </div>
    </div>
    <div  class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2014 - Developed By <a href="http://linkd.in/13YH1wk">Sarvesh Sadhoo</a> & <a href="https://www.linkedin.com/in/akshaymattoo">Akshay Mattoo</a></br>
      </p>
    </div>
  </div>
</body>
</html>
